//
// Critique global variables and mixins
//


//
// Variable Definitions
//

//Global Colors
$plain-white: #ffffff;
$plain-black: #000000;

//Light Theme
$l-primary: #06736c;
$l-active: #055b55;
$l-bgcolor: #e5e5e5;
$l-fontcolor: #151515;
$l-errorcolor: #b9543c;
$l-feedbackborder: #a14833;
$l-feedbackcolor: #ffffff;
$l-bordercolor: #c5c5c5;

/// Dark Theme
$d-primary: #2ea79f;
$d-active: #28938c;
$d-bgcolor: #151515;
$d-fontcolor: #151515;
$d-errorcolor: #b9543c;
$d-feedbackborder: #a14833;
$d-feedbackcolor: #ffffff;
$d-bordercolor: #454545;


//
// Fonts
//


// Sizes
$base-font-size: 13px;
$base-line-height: 20px;

// Families
$arial: Arial, Helvetica, sans-serif;


//
// Mixins
//


//
// Media Queries (Mobile First, of course) */
//

// Breakpoints
@mixin breakpoint($point) {
  @if $point == small {
    @media only screen and (min-width: 480px) { @content; }
  }
  @if $point == medium {
    @media only screen and (min-width: 767px) { @content; }
  }
  @else if $point == large {
    @media only screen and (min-width: 960px)  { @content; }
  }
}

// Pixel Densities
@mixin pixel-density($density) {
  @if $density == 1 {
    @media only screen and (-webkit-min-device-pixel-ratio: 1) { @content; }
  }
  @if $density == 1.5 {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) { @content; }
  }
  @if $density == 2 {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
  }
}

//
// Functions
//

// Convert pixels to ems
@function pxtoem($target, $context:$base-font-size) {
  @return ($target/$context)+0em;
}

//
// Imports
//

// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";