@import "global";

#dj-critique {
    background: $d-bgcolor;
    color: $d-fontcolor;
    border: 1px solid $d-bordercolor;
}
#dj-critique-prompt {
	color: $d-primary;
    &:hover,
    &:active,
    &:focus {
        color: $d-active;
    }
}
#dj-critique-create input,
#dj-critique-create textarea {
    // border: 1px solid $plain-black;
}
#dj-critique-create input[type=text],
#dj-critique-create textarea {
    border: 1px solid #c5c5c5;
    color: $d-bgcolor;
}
#dj-critique-submit {
    background: $d-primary;
    border: 1px solid #268c85;
    color: $plain-white;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        background: $d-active;
    }
}
#dj-critique-cancel {
    background: $d-bgcolor;
    border: 1px solid $d-bordercolor;
    color: #959595;
    &:hover,
    &:active,
    &:focus {
        background: #2f2f2f;
    }
}

/* Feedback */
#dj-critique-create .dj-critique-error {
    border: 1px solid $l-errorcolor;
}
#dj-critique-feedback {
    background: $l-errorcolor;
    border: 1px solid $l-feedbackborder;
    p {
        color: $l-feedbackcolor;
        font-weight: bold;
    }
}