@import "global";

#dj-critique {
    background: $l-bgcolor;
    color: $l-fontcolor;
    @include box-shadow(rgba(0, 0, 0, 1) 0px -12px 18px 13px);
}
#dj-critique-prompt {
	color: $l-primary;
    &:hover,
    &:active,
    &:focus {
        color: $l-active;
    }
}
#dj-critique-create input,
#dj-critique-create textarea {
    border: 1px solid #c5c5c5;
}
#dj-critique-create input[type=text],
#dj-critique-create textarea {
    color: #757575;
}
#dj-critique-submit {
    background: $l-primary;
    border: 1px solid #045853;
    color: $plain-white;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        background: $l-active;
    }
}
#dj-critique-cancel {
    background: #f2f2f2;
    border: 1px solid #757575;
    color: #757575;
    &:hover,
    &:active,
    &:focus {
        background: #d8d8d8;
    }
}
#dj-critique-create .dj-critique-error {
    border-color: $l-errorcolor;
}
#dj-critique-feedback {
	background: $l-errorcolor;
    border: 1px solid $l-feedbackborder;
    p {
    	color: $l-feedbackcolor;
    	font-weight: bold;
    }
}
