#dj-critique {
  margin: 0;
  padding: 0;
  /* Critique should always appear on top of site content */
  z-index: 1000;
  position: relative;
}

#dj-critique,
#dj-critique input,
#dj-critique textarea {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

#dj-critique-wrapper {
  margin: 0 auto;
  width: 98%;
}
@media only screen and (min-width: 480px) {
  #dj-critique-wrapper {
    width: 90%;
  }
}
@media only screen and (min-width: 767px) {
  #dj-critique-wrapper {
    width: 70%;
  }
}
@media only screen and (min-width: 960px) {
  #dj-critique-wrapper {
    width: 60%;
  }
}

#dj-critique-prompt {
  cursor: pointer;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

#dj-critique-create {
  margin: 0 0.76923em;
}
#dj-critique-create ul {
  margin: 0;
  padding: 0;
}
#dj-critique-create ul li {
  list-style: none;
  margin: 0 0 0.76923em 0;
}

#dj-critique-feedback,
#dj-critique-create input,
#dj-critique-create textarea {
  -webkit-border-radius: 0.38462em;
  -moz-border-radius: 0.38462em;
  -ms-border-radius: 0.38462em;
  -o-border-radius: 0.38462em;
  border-radius: 0.38462em;
}

#dj-critique-create input[type=text],
#dj-critique-create textarea {
  padding: 0.38462em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#dj-critique-create textarea {
  resize: none;
}

#dj-critique-email {
  height: 28px;
  width: 100%;
}

#dj-critique-message {
  height: 88px;
  width: 100%;
}

#dj-critique-feedback {
  display: none;
  height: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20;
}
#dj-critique-feedback p {
  line-height: 2em;
  margin: 0;
}

#dj-critique-actions input {
  cursor: pointer;
  height: 30px;
  text-transform: none;
  width: 49%;
}
@media only screen and (min-width: 480px) {
  #dj-critique-actions input {
    width: auto;
    padding: 0 3.84615em;
  }
}
#dj-critique-actions input:focus {
  outline: none;
}

#dj-critique-submit {
  float: left;
}
@media only screen and (min-width: 480px) {
  #dj-critique-submit {
    margin: 0 0.76923em 0 0;
  }
}

#dj-critique-cancel {
  float: right;
}
@media only screen and (min-width: 480px) {
  #dj-critique-cancel {
    float: none;
  }
}
/* Desktop styles */
/*@media screen and (min-width: 767px) {*/
/*#dj-critique {*/
  /*position: fixed;*/
  /*top: 100px;*/
  /*right: -250px;*/
  /*right: 0;*/
/*}*/

  /*#dj-critique-prompt {*/
    /*width: 50px;*/
    /*float: left;*/
    /*transform:rotate(90deg);*/
    /*-ms-transform:rotate(90deg); */ /* IE 9 */
    /*-webkit-transform:rotate(90deg); */ /* Safari and Chrome */
  /*}*/

  /*#dj-critique-create {
    display: block;
    width: 210px;
    float: left;
  }*/
/*}*/

/**
 * Utilities
 */
/* Clearfix */
.dj-critique-hidden {
  display: none !important;
}

.dj-critique-clearfix:before {
  content: " ";
  display: table;
}
.dj-critique-clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
