#dj-critique {
  background: #151515;
  color: #151515;
  border: 1px solid #454545;
}

#dj-critique-prompt {
  color: #2ea79f;
}
#dj-critique-prompt:hover, #dj-critique-prompt:active, #dj-critique-prompt:focus {
  color: #28938c;
}

#dj-critique-create input[type=text],
#dj-critique-create textarea {
  border: 1px solid #c5c5c5;
  color: #151515;
}

#dj-critique-submit {
  background: #2ea79f;
  border: 1px solid #268c85;
  color: white;
  font-weight: bold;
}
#dj-critique-submit:hover, #dj-critique-submit:active, #dj-critique-submit:focus {
  background: #28938c;
}

#dj-critique-cancel {
  background: #151515;
  border: 1px solid #454545;
  color: #959595;
}
#dj-critique-cancel:hover, #dj-critique-cancel:active, #dj-critique-cancel:focus {
  background: #2f2f2f;
}

/* Feedback */
#dj-critique-create input[type=text].dj-critique-error,
#dj-critique-create textarea.dj-critique-error {
  border: 1px solid #b9543c;
}

#dj-critique-feedback {
  background: #b9543c;
  border: 1px solid #a14833;
}
#dj-critique-feedback p {
  color: white;
  font-weight: bold;
}
