/**
 * Django-Critique Light Theme
 */

/**
 * Color Palette
 *
 * primary: #06736c;
 * active: #055b55;
 * bgcolor: #e5e5e5;
 * fontcolor: #151515;
 * errorcolor: #b9543c;
 * feedbackborder: #a14833;
 * feedbackcolor: #ffffff;
 * bordercolor: #c5c5c5;
 */

#dj-critique {
  background: #e5e5e5;
  color: #151515;
  border: 1px solid #c5c5c5;
}

#dj-critique-prompt {
  color: #06736c;
}
#dj-critique-prompt:hover, #dj-critique-prompt:active, #dj-critique-prompt:focus {
  color: #055b55;
}

#dj-critique-create input,
#dj-critique-create textarea {
  border: 1px solid #c5c5c5;
}

#dj-critique-create input[type=text],
#dj-critique-create textarea {
  color: #757575;
}

#dj-critique-submit {
  background: #06736c;
  border: 1px solid #045853;
  color: white;
  font-weight: bold;
}
#dj-critique-submit:hover, #dj-critique-submit:active, #dj-critique-submit:focus {
  background: #055b55;
}

#dj-critique-cancel {
  background: #f2f2f2;
  border: 1px solid #757575;
  color: #757575;
}
#dj-critique-cancel:hover, #dj-critique-cancel:active, #dj-critique-cancel:focus {
  background: #d8d8d8;
}

/* Feedback */
#dj-critique-create .dj-critique-error {
  border: 1px solid #b9543c;
}

#dj-critique-feedback {
  background: #b9543c;
  border: 1px solid #a14833;
}
#dj-critique-feedback p {
  color: white;
  font-weight: bold;
}
