language: python

python:
  - "2.6"
  - "2.7"

env:
  - DJANGO=1.5.2

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - pip install Django==$DJANGO selenium --use-mirrors

script:
  - python setup.py test
