<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"><\/script>')</script><script>window.jQuery || document.write('<script src="{{ static_url }}critique/js/jquery.min.js"><\/script>')</script>
<script>
(function($) {

function Field($jqElem, validator) {
    this.$elem = $jqElem; 
    this.defaultValue = $jqElem.val();
    this.validator = validator;
}

var $wrapper = $('div#dj-critique'),
    $prompt = $('div#dj-critique-prompt', $wrapper),
    $form = $('form#dj-critique-create', $wrapper),
    $submit = $('input#dj-critique-submit', $form),
    $cancel = $('input#dj-critique-cancel', $form),
    $feedback = $('div#dj-critique-feedback', $form),
    errorText = "{{ error_text }}",
    invalidText = "{{ invalid_text }}",
    successText = "{{ success_text }}",
    config = {
        delay: 2000,
        rate: 200
    },
    fields = {};

function afterError() {
    setTimeout(function() {
        $feedback.fadeOut();
    }, config.delay); 
}

function afterSuccess() {
    setTimeout(function() {
        $feedback.fadeOut(config.rate, function() {
            hideForm(resetMessage);
        });
    }, config.delay); 
}

function bindHandlers() {
    fields.email.$elem.on('focus blur', function(e) {
        handleField(e, fields.email);
    });

    fields.message.$elem.on('focus blur', function(e) {
        handleField(e, fields.message);
    });

    // unregister and explicitly handle branching multiple submit inputs
    $form.submit(function() { return false; });

    $cancel.on('click', function() {
        hideForm();
    });

    $submit.on('click', function() {
        // capture current form state
        handleSubmit($('form#dj-critique-create', $wrapper));
    })

    $prompt.on('click', function() {
        $form.slideToggle();
    });
}

function configureFields() {
    fields.email = new Field(
        $('input#dj-critique-email', $form),
        validateEmail);
    fields.message = new Field(
        $('textarea#dj-critique-message', $form), validateMessage);

    fields.email.$elem.val(getCookie(
        'dj-critique-author', 'Email'));
}

function displayFeedback(message, cls, callback) {
    $feedback.removeClass();  // removes all classes
    $feedback.find('p').text(message).parent().addClass(cls).fadeIn(
            config.rate, function() {
        if (callback) { callback(); }
    });
}

function getCookie(key, defaultValue) {
    var cookies = document.cookie.split(';');

    for (var i = 0; i < cookies.length; i++) {
        var foundKey = cookies[i].substr(
            0, cookies[i].indexOf('=')).replace(/\s/g, '');

        if (key === foundKey) {
            return cookies[i].substr(cookies[i].indexOf('=')+1);
        }
    }
    return defaultValue;
}

function handleField(e, field) {
    var f = field;
    if (e.type == 'focus') {
        if (f.$elem.val() == f.defaultValue) {
            f.$elem.val('');
        }
    } else if (e.type == 'blur') {
        if (!f.$elem.val()) { // user did not type anything
            f.$elem.val(f.defaultValue);
        }
    } else {}
}

function handleSubmit($form) {
    var $submits = $submit.add($cancel),
        errors = validateFields();

    toggleHighlightErrors(fields, false);
    $submits.attr('disabled', 'disabled');

    if (errors.length > 0) {
        toggleHighlightErrors(errors, true);
        displayFeedback(invalidText, "dj-critique-error", afterError); 
    } else {
        setCookie('dj-critique-author',
            $('input#dj-critique-email', $form).val())

        $.ajax({
            data: $form.serialize(),
            type: 'POST',
            url: "{% url 'critique_create' %}",
            success: function(response) {
                if (response == 'OK') {
                    toggleHighlightErrors(fields, false);
                    displayFeedback(successText, "dj-critique-success", afterSuccess); 
                } else {
                    displayFeedback(errorText, "dj-critique-error", afterError); 
                }
            }
        });
    }
    $submits.removeAttr('disabled', '');
}


function hideForm(callback) {
    $form.slideUp(config.rate, function() {
        if (callback) { callback(); }
    });
}

function resetMessage() {
    fields.message.$elem.val(fields.message.defaultValue);
}

function setCookie(key, value) {
    document.cookie = key + '=' + value + ';';
}

function toggleHighlightErrors(f, flag) {
    for (var i in f) {
        f[i].$elem.toggleClass('dj-critique-error', flag);
    }
}

function validateEmail(email) {
    // @see http://stackoverflow.com/questions/46155/validate-email-address-in-javascript
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);

}

function validateFields() {
    var errors = [], f;

    for (var i in fields) {
        f = fields[i];

        // check for default
        if (f.$elem.val() == f.defaultValue) {
            errors.push(f);
            continue;
        }
        // call validator
        if (!f.validator(f.$elem.val())) {
            errors.push(f);
        }
    }
    return errors;
}

function validateMessage(message) {
    if (message.length > 3) {
        return true;
    } else {
        return false;
    }
}

(function main() {
    configureFields();
    bindHandlers();
})();

})(jQuery);
</script>
